table {
  border-collapse: collapse;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

th{
  border: solid 1px rgba(163, 163, 163, 0.7);
  width: 130px;
  font-family:Calibri, 'Trebuchet MS', sans-serif;
  }
  
  td {
    border: solid 1px rgba(163, 163, 163, 0.7);
  }
  
  .borde {
    background-color: rgba(211, 211, 211, 0.7);
    text-align: center;
  }
  
  .titulo {
    font-family:Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    background-color: rgb(252, 233, 174);
    text-align: center  ;
    font-weight: bolder;
  }
  
  .rojo {
    background-color: rgb(255, 222, 212);
    text-align: left;
    font-size: large;
  }
  
  .green {
    background-color: rgb(226, 239, 218);
  }
  
  .fila1 {
    background-color: rgba(200, 200, 200, 0.7);
    text-align: center;
    padding-top: 20px;
    font-size: larger;
  }
  
  
  .num {
    text-align: right;
    width: 120px !important;
    
  }